<div class="container-fluid">
  <div class="row" *ngIf="league">
      <div class="col-sm-4 col-md-4 col-lg-12">
        <div class="sub-header">
            <img src="../../assets/{{league.img}}" alt="" class="logo-league">
            <div class="league-details">
              <h2 class="title">{{league.title}}</h2>
              <div class="progress-bar">
                <div class="progress-bar__elapsed" style="width: 32.41%">
                  <span class="progress-bar__inner"></span>
                </div>
              </div>
              <span class="theme-color" title="Start date">
                {{league.startDate}}
              </span>
              <span class="float-right " title="End date">
                {{league.endDate}}
              </span>
            </div>
        </div>
      </div>
  </div>
<div class="col-12">
  <h3>Future matches</h3>
  <div class="row">
    <div class="col-lg-4 col-sm-12 " *ngFor="let match of matches">
      <div class="match p-4">

      <h4 class="mb-4 match-title">{{match.title}}</h4>
      <span>{{match.date}}</span>
      <div class="row">
        <div class="col-10">
          <span class="theme-color chart-title" title="Start date">
            Home win
          </span>
          <div class="progress-bar tile_bar">
            <div class="progress-bar__elapsed" [ngStyle]="{width: match.home+'%'}">
              <span class="progress-bar__inner"></span>
            </div>
          </div>
        </div>
        <div class="col-2 percent_margin">
          {{match.home+'%'}}
        </div>
      </div>

      <div class="row">
        <div class="col-10">
          <span class="theme-color chart-title" title="Start date">
            Draw
          </span>
          <div class="progress-bar tile_bar">
            <div class="progress-bar__elapsed" [ngStyle]="{width: match.draw+'%'}">
              <span class="progress-bar__inner"></span>
            </div>
          </div>
        </div>
        <div class="col-2 percent_margin">
          {{match.draw +'%'}}
        </div>
      </div>

      <div class="row">
        <div class="col-10">
          <span class="theme-color chart-title" title="Start date">
            Away win
          </span>
          <div class="progress-bar tile_bar">
            <div class="progress-bar__elapsed" [ngStyle]="{width: match.away+'%'}">
              <span class="progress-bar__inner"></span>
            </div>
          </div>
        </div>
        <div class="col-2 percent_margin">
          {{match.away +'%'}}
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <span class="theme-color chart-title" title="Start date">
            Over 2.5 goals
          </span>
          <div class="progress-bar tile_bar">
            <div class="progress-bar__elapsed" [ngStyle]="{width: match.over+'%'}">
              <span class="progress-bar__inner"></span>
            </div>
          </div>
        </div>
        <div class="col-2 percent_margin">
          {{match.over+'%'}}
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <span class="theme-color chart-title" title="Start date">
            Under 2.5 goals
          </span>
          <div class="progress-bar tile_bar">
            <div class="progress-bar__elapsed" [ngStyle]="{width: match.under+'%'}">
              <span class="progress-bar__inner"></span>
            </div>
          </div>
        </div>
        <div class="col-2 percent_margin">
          {{match.under+'%'}}
        </div>
      </div>
    </div>

  </div>
</div>
</div></div>