<div class="container-fluid" *ngIf="!isSubscribed">
  <div class="row justify-content-md-center">
    <div class="col-6">
      <h2>Subscribed zone</h2>
      <form (submit)="onSubmit()">
        <input name="email" #mail id="inputGroup-1_2" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-20" type="text" placeholder="Type your email">
        <span class="btn" (click)="mailSubmit($event)">Log in</span>
      </form>

    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="isSubscribed">
    <div class="row list-leagues">
      <div class="col-lg-3 col-sm-12 col-md-12 league-block" *ngFor="let league of leagues">
          <img src="../../assets/{{league.img}}" alt="" class="logo-league">
          <div class="league-details">
            <h2 class="title">{{league.title}}</h2>
          </div>
      </div>
    </div>
</div>




<!-- <ul class="league_table">
    <li>1. Los Angeles <span>34</span></li>
    <li>2. Seattle <span>26</span></li>
    <li>3. LA Galaxy <span>25</span></li>
    <li>4. DC United <span>25</span></li>
    <li>5. Philadelphia <span>24</span></li>
    <li>6. Houston<span>23</span></li>
    <li>7. NY Red Bulls<span>21</span></li>
    <li>8. Minnesota Utd<span>21</span></li>
    <li>9. Montreal<span>21</span></li>
    <li>10. Atlanta Utd<span>20</span></li>
    <li>11. Salt Lake<span>19</span></li>
    <li>12. NY City<span>19</span></li>
    <li>13. Dallas<span>18</span></li>
    <li>14. Toronto<span>17</span></li>
    <li>15. San Jose<span>17</span></li>
    <li>16. Chicago Fire<span>17</span></li>
    <li>17. Vancouver<span>17</span></li>
    <li>18. Columbus<span>16</span></li>
    <li>19. Orlando<span>15</span></li>
    <li>20. Portland<span>14</span></li>
    <li>21. Kansas City<span>14</span></li>
    <li>22. New England<span>13</span></li>
    <li>23. FC Cincinnati<span>11</span></li>
    <li>24. Colorado<span>8</span></li>

  </ul> -->