.league_logo {
	width: 56px;
	height: 56px;
	float: left;
} 
.header {
    height:75px;
    padding-left: 40px;
    box-shadow: 0 0 3px #b5b5b5;
    background: #fff;
}

.main_logo {
    width: 180px;
}

.wraper { 
    background: #dce0e4;
}
.footer {
    background: #004c8f;
    min-height: 70px;

}
.menu {
    padding-top:18px;
    float: right;
    ul{
        list-style:none;
        margin: 0 20px 0 0; 
        li{
            padding: 0 20px;
            float: left;
            a{
                color:rgb(33, 37, 41);
                font-weight: bold;
                &:hover{
                    border-bottom: 1px solid rgb(33, 37, 41);
                }
            }
        }
    }
}