.league_logo {
	width: 56px;
	height: 56px;
	float: left;
} 
.header {
    height:75px;
    padding-left: 40px;
    box-shadow: 0 0 3px #b5b5b5;
    margin-bottom: 20px;
    background: #fff;
}

.main_logo {
    width: 180px;
}
.big-screen {
    max-width: 1400px;
    margin: 0 auto;
    background: #fff;
    min-height: calc(100vh - 165px);
}
.wraper { 
    background: #dce0e4;
}
.footer {
    background: #004c8f;
    min-height: 70px;

}