.league_logo {
	width: 56px;
	height: 56px;
	float: left;
} 
.header {
    height:75px;
    padding-left: 40px;
    box-shadow: 0 0 3px #b5b5b5;
    margin-bottom: 20px;
}

.main_logo {
    width: 180px;
}