
<div class="wraper">
    <div class="header pt-2 pb-2">
        <a href="#!" class="js-go-to navbar-brand u-header__logo" data-type="static" style="display: inline-block;">
            <img src="../assets/logo.svg" class="main_logo">
        </a>
        <div class="menu">
            <ul  class="text-uppercase w-100 g-font-weight-700 g-font-size-11 g-pt-20 g-pt-0--lg">
                <li class="nav-item g-mr-15--lg g-mb-12 g-mb-0--lg active">
                    <a [routerLink]="['/leagues']" class="nav-link p-0">Leagues
                    </a>
                </li>
                
                <li class="nav-item g-ml-15--lg g-mb-12 g-mb-0--lg">
                    <a [routerLink]="['/contact']" class="nav-link p-0">Contact us</a>
                </li>
                <li class="nav-item g-ml-15--lg g-mb-12 g-mb-0--lg">
                    <a [routerLink]="['/subscribe']" class="nav-link p-0">Log in</a>
                </li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet>
    <div class="footer">
        <div class="container">
            <p class="footer-text">	&copy; StatsInSport 2019</p>
        </div>
    </div>
</div>

