<div class="big-screen abstract-bg">
<div class="subscribe-block container-fluid">
  <h2 class="main-title">StatsInSport is in beta testing.</h2>
  <p class="sub-text">Enter your email below to be one of the first members
  </p>
  <form (submit)="onSubmit()">
    <div class="row justify-content-md-center">
      <div class="col-6">
        <input name="email" #mail id="inputGroup-1_2"
          class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-20"
          type="text" placeholder="Type your email">
      </div>
      <div class="col-1">
        <span class="btn btn-info" (click)="mailSubmit($event)">Send</span>
      </div>
      <p *ngIf="sended">Request received, access will be granted.</p>
    </div>
  </form>
</div>
</div>