.subscribe-block {
    padding: 155px 25px 25px 35px;
}
.main-title{
    text-align: center;
    font-size:3.5rem;
    margin-bottom: 20px;
}
.sub-text{
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.abstract-bg {
    background: url("../../assets/54.jpg") 0 -100px no-repeat;
    background-size:  100% auto;
}