
<div class="g-theme-bg-gray-light-v1 big-img">
    <div class="container">
        <h1 class="title">Information is the key to success</h1>
        <p class="short_description">StatsInSport prediction model uses statistical data, expected formation, team's form, weather,<br> and other key factors to predict results of football games.</p>

        <p class="subscribe_text">We will start soon. Stay informed!</p>
        <form id="form">
            <div class="row">
                    <div class="g-pos-rel col-6" >
                        <input name="email" id="inputGroup-1_2" class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-20" type="text" placeholder="Type your email">
                    </div>
                    <div class="col-2">
                        <input type="submit" class="btn btn-md btn-xl--md u-btn-lightblue-v3 g-width-160--md g-font-size-12 g-font-size-default--md red" value="Subscribe">
                    </div>
            </div>
        </form>
    </div>
</div>